.App {
  text-align: center;
}


.card{
  border: 1px solid #282c34;
  width: 200px;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 2px #ccc;
}


.red {
  color:rgb(238, 179, 111);
}

.bold {
  font-weight: bold;
}